
.card_1{
    background-color: #7f899a7c; /* Fondo azul oscuro */
    color: rgb(10, 10, 10); /* Texto blanco */
    text-align: center; /* Centrar contenido */
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    overflow: hidden;
    border: 5px solid rgba(108, 76, 17, 0.9); /* Borde blanco */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.card_1 p {
    text-align: center;
    margin-right: 10px; /* Ajusta el valor según lo desees */
    margin-left: 5px;
  }
