body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: rgba(25, 79, 117, 0.986);
    padding: 10px;
    color: rgba(255, 255, 255, 0.758);
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    justify-content: space-between;
    margin: 20px;
}
.mapa, .contact-info {
    flex: 1;
    min-width: 300px; /* Ajusta el tamaño mínimo según tus necesidades */
    margin: 10px;
}
.mapa iframe {
    width: 70%;
    height: 450px;
    border: 0;
    margin-left: 100px;
   
}
.footer{
    margin-bottom: auto;
    
  }

  footer p{
    text-align: center;
  }

.tabla-container {
    width: 70%; 
    margin-left: 1px; 
    margin-top: 50px; 
   
   
}

.table {
    width: 50%; 
}
.table th, .table td {
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    border: 1px solid #ddd;
    padding: 8px;
    box-shadow: rgb(58, 72, 120) 0px 10px 20px;
}
body {
    overflow-x: hidden;
}