body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: rgba(25, 79, 117, 0.986);
    padding: 10px;
    color: rgba(255, 255, 255, 0.758);
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    justify-content: space-between;
    margin: 20px;
}

.footer{
    margin-bottom: auto;
    
  }

  footer p{
    text-align: center;
  }

  

  @media only screen and (min-width: 800px) {


    .mapa{
        width: 50%;
        display: inline-block;
    }

   
    
    .juntarCards{
        padding-left: 10%;
        padding-right: 10%;
    }
  }




.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.mapa {
    flex: 1;
    margin-left: 380px;
}



@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }
    
    .mapa {
        width: 100%;
        margin-right: 0px;
    }
}
.nav-link {
    color: rgb(208, 201, 201) !important;
    transition: color 0.3s ease !important;
 }
 
 .nav-link:hover {
    color: rgb(0, 208, 255) !important; /* Cambia a tu color preferido */
 }
 .navbar {
  width: 100%; /* Asegura que la barra de navegación ocupe todo el ancho */
  margin: 0; /* Elimina cualquier margen que pueda afectar la visualización */
  padding: 0; /* Ajusta el padding según sea necesario */
 }
