/* style.css */
body {
 
   background: radial-gradient(circle, #c3c4c6, #fcfcfd); 

  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white; /* Color del texto para que sea legible */
}

.nav-link {
    color: rgb(208, 201, 201) !important;
    transition: color 0.3s ease !important;
}

.nav-link:hover {
    color: rgb(0, 208, 255) !important; /* Cambia a tu color preferido */
}
.navbar {
  width: 100%; /* Asegura que la barra de navegación ocupe todo el ancho */
  margin: 0; /* Elimina cualquier margen que pueda afectar la visualización */
  padding: 0; /* Ajusta el padding según sea necesario */
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

  .footer{
    margin-bottom: auto;
    
  }

  footer p{
    text-align: center;
  }
 

  .text {
    margin-top: 10px;
}
.container img {
    max-width: 100%;
    height: auto;
}
  h5{
    font-family: "Candara", Sans-serif;
    font-size: 22px;
  }

  .container {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espaciado entre filas si es necesario */
    color: black;
}
.container img {
    width: 100px;
    height: auto;
}
.container .text {
    margin-left: 10px; /* Espacio entre la imagen y el texto */
}
  h1{
    color: rgb(18, 1, 72);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    text-align: center;
    margin-top: 30px;
  }

  #texto{
    text-align: center;
  }

p{
  color: black;
  margin-left: 100px;
}
.container_informe{
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 40px;
  font-family: "Candara", Sans-serif;
  font-size: 22px;

}

.titulo{
  margin-bottom: 5%;
}

